# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
# Usually these files are written by a python script from the contents of
# a .spec file, and then used to bootstrap the application.
bootloader/
dist/
build/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code settings
.vscode/

# Rope project settings
.ropeproject/

# Python virtual environments
venv/

# Maven/Java build output
target/

# NetBeans actions/config
nbactions.xml